<h1>Letters</h1>
<ul class="letters">
  <% @letters.each do |letter| %>
    <li class="letter"><%= letter %></li>
  <% end %>
</ul>

<p>Enter your word:</p>
<form class="form-word" action="score" accept-charset="UTF-8" method="post">
 <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters%>
  <input type="text" name="word" id="word">
  <input type="submit" name="commit" value="Play" class="word-submit" data-disable-with="Play">
</form>
